extends ../application.pug

block content
  h1 Users List
  .card.card-block
    .row
      .col-md-4.hidden-md-down
        img(src=users.imageURL alt=users.title + "Cover Image" class="img-fluid")
      .col-xs-12.col-md-8
        h2= users.title
        h5= users.director
        p= movie.description
        .row
          .col-xs-3.offset-xs-6
            a(href="/movies/" + "edit/" + movie.id class="btn btn-warning") EDIT MOVIE
          .col-xs-3
            form(action="/movies/" + movie.id method="POST")
              input(type="hidden" name="_method" value="DELETE")
              button(type="submit", class="btn btn-danger btn-block") DELETE
