extends ../../application.pug

block content

	iframe(width="100%" height="100%" src=movie.trailer frameborder="0" allowfullscreen)

	.container-fluid
		.row
			.col-xs-1
			.col-md-3
				img(src=movie.coverImageURL height="350" float-xs-left)
			hr
			.col-xs-6
				h1= movie.title
				h6= 'Director:' + " " + movie.directorName
				h6= 'Actors:' + " " + movie.actorNames
				h6= 'Subtitles:' + " " + movie.subtitles
				h6= 'Genre:' + " " + movie.genre
				h6= 'Length:' + " " + movie.lengthInMin
				p= 'Description:' + " " + movie.description

				div(class="form-group")
					a(href="/admin/movies/" + movie.id + "/edit" class="btn btn-warning") EDIT MOVIE


	hr
	.container
		.row
			each user in users
				.col-sm-2.col-md-2
					.thumbnail
						img(height="150" src=user.profileImageURL, alt='No profile picture' class="rounded")
						.caption
							h5=user.name + " " + user.surname
						form(action="/match/" + user.id method="POST")
							input(type="hidden" name="targetId" value=user.id)
