extends Application

block content
	.container
		.card.card-block
			.row
				.col-md-4.hidden-md-down
					img(src=movie.coverImageURL class="img-fluid")

					button.btn-success I want to go!
				.col-xs-12.col-md-8
					h2= movie.title
					h5= movie.directorName
					h6= movie.actorNames
					p= movie.description
					h6= movie.genre
					h6= movie.lengthInMin minutes
					iframe(width="560" height="315" src="https://www.youtube.com/embed/Vso5o11LuGU" frameborder="0" allowfullscreen)
