extends ../../application.pug

block content
  .container
    .row
      .col-xs-8.offset-xs-2
        h1 Edit User
        hr
        form(action="/admin/users/" + user.id method="POST")
          div(class="form-group")
            lable(for="admin-user") Admin:
            input(name="admin" type="checkbox" class="form-control" id="admin-user" value=user.admin)
          div(class="form-group")
            lable(for="profileImageURL") Picture Link:
            input(name="profileImageURL" type="text" class="form-control" id="user-profileImageURL" value=user.profileImageURL)
          div(class="form-group")
            lable(for="user-name") Name:
            input(name="name" type="text" class="form-control" id="user-name" value=user.name)
          div(class="form-group")
            lable(for="user-surname") Surname:
            input(name="surname" type="text" class="form-control" id="user-surname" value=user.surname)
          div(class="form-group")
            lable(for="user-email") Email:
            input(name="email" type="text" class="form-control" id="user-email" value=user.email)
          div(class="form-group")
            lable(for="user-age") Age:
            input(name="age" type="integer" class="form-control" id="user-age" value=user.age)

          div(class="form-group text-xs-right")
            button(type="submit" class="btn btn-lg btn-success") Edit
