extends ../application.pug

	block content

		.container
			h1=movie.title
				.row
					.col-xs-8
						.card.card-block
							h6= movie.trailer
							h6= movie.genre
							h6= movie.producer
							h6= movie.about
							h6= movie.cinema
							h6= movie.schedule
		.container
         each user in users
            .row
               .col-xs.8
                  .card.card-block
                     a(href="/user/profile/:id")
                        img(src=user.profileImageURL class="img-fluid")
                     h4=user.name + user.surname
                     h5=user.age
                        .col-xs-2
                        form(action="/user/message/" + message.id method="POST")
                           input(type="hidden" name="_method" value=user.id )
                           button(type="submit" class="btn btn-success") Send a request!
